@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Nunito:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Nunito', sans-serif;
    background-color: #111827;
  }
}

.font-quicksand {
  font-family: 'Quicksand', sans-serif;
}

.font-nunito {
  font-family: 'Nunito', sans-serif;
}